<?xml version="1.0" encoding="utf-8"?>
<assessmentItem xsi:schemaLocation="http://www.imsglobal.org/xsd/imscp_v1p1 http://www.imsglobal.org/xsd/qti/qtiv2p1/qtiv2p1_imscpv1p2_v1p0.xsd http://www.imsglobal.org/xsd/imsqti_v2p1 http://www.imsglobal.org/xsd/qti/qtiv2p1/imsqti_v2p1p2.xsd" identifier="item2346781" title="Matching" adaptive="false" timeDependent="false" toolName="itslearning" toolVersion="2025.10" xmlns="http://www.imsglobal.org/xsd/imsqti_v2p1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:qti="http://www.imsglobal.org/xsd/imsqti_v2p1">
  <responseDeclaration cardinality="multiple" baseType="directedPair" identifier="RESPONSE">
    <correctResponse>
      <value>C0 M1</value>
      <value>C1 M2</value>
      <value>C2 M3</value>
      <value>C3 M0</value>
    </correctResponse>
    <mapping lowerBound="0" upperBound="1" defaultValue="0">
      <mapEntry mapKey="C0 M1" mappedValue="0.25" />
      <mapEntry mapKey="C1 M2" mappedValue="0.25" />
      <mapEntry mapKey="C2 M3" mappedValue="0.25" />
      <mapEntry mapKey="C3 M0" mappedValue="0.25" />
    </mapping>
  </responseDeclaration>
  <outcomeDeclaration cardinality="single" baseType="identifier" identifier="FEEDBACK" view="" normalMaximum="0" normalMinimum="0" masteryValue="0" />
  <itemBody>
    <div class="htmlContent">
      <![CDATA[<p>
        Ordnen Sie die Bustaben der jeweiligen Position im Alphabet zu.
      </p>
      ]]>
    </div>
    <matchInteraction responseIdentifier="RESPONSE" shuffle="true" maxAssociations="4" minAssociations="0">
      <simpleMatchSet>
        <simpleAssociableChoice fixed="false" showHide="show" identifier="C0" matchMax="1" matchMin="0">
          <div class="htmlContent">
            <![CDATA[<p>
              A
            </p>
            ]]>
          </div>
        </simpleAssociableChoice>
        <simpleAssociableChoice fixed="false" showHide="show" identifier="C1" matchMax="1" matchMin="0">
          <div class="htmlContent">
            <![CDATA[<p>
              B
            </p>
            ]]>
          </div>
        </simpleAssociableChoice>
        <simpleAssociableChoice fixed="false" showHide="show" identifier="C2" matchMax="1" matchMin="0">
          <div class="htmlContent">
            <![CDATA[<p>
              C
            </p>
            ]]>
          </div>
        </simpleAssociableChoice>
        <simpleAssociableChoice fixed="false" showHide="show" identifier="C3" matchMax="1" matchMin="0">
          <div class="htmlContent">
            <![CDATA[<p>
              D
            </p>
            ]]>
          </div>
        </simpleAssociableChoice>
      </simpleMatchSet>
      <simpleMatchSet>
        <simpleAssociableChoice fixed="false" showHide="show" identifier="M1" matchMax="1" matchMin="0">
          <div class="htmlContent">
            <![CDATA[<p>
              1.
            </p>
            ]]>
          </div>
        </simpleAssociableChoice>
        <simpleAssociableChoice fixed="false" showHide="show" identifier="M2" matchMax="1" matchMin="0">
          <div class="htmlContent">
            <![CDATA[<p>
              2.
            </p>
            ]]>
          </div>
        </simpleAssociableChoice>
        <simpleAssociableChoice fixed="false" showHide="show" identifier="M3" matchMax="1" matchMin="0">
          <div class="htmlContent">
            <![CDATA[<p>
              3.
            </p>
            ]]>
          </div>
        </simpleAssociableChoice>
        <simpleAssociableChoice fixed="false" showHide="show" identifier="M0" matchMax="1" matchMin="0">
          <div class="htmlContent">
            <![CDATA[<p>
              4.
            </p>
            ]]>
          </div>
        </simpleAssociableChoice>
      </simpleMatchSet>
    </matchInteraction>
  </itemBody>
  <responseProcessing />
</assessmentItem>
