<?xml version="1.0" encoding="utf-8"?>
<assessmentItem
        xsi:schemaLocation="http://www.imsglobal.org/xsd/imscp_v1p1 http://www.imsglobal.org/xsd/qti/qtiv2p1/qtiv2p1_imscpv1p2_v1p0.xsd http://www.imsglobal.org/xsd/imsqti_v2p1 http://www.imsglobal.org/xsd/qti/qtiv2p1/imsqti_v2p1p2.xsd"
        identifier="{{ assessment_identifier }}" title="{{ title }}" adaptive="false" timeDependent="false"
        toolName="itslearning" toolVersion="2025.10" xmlns="http://www.imsglobal.org/xsd/imsqti_v2p1"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:qti="http://www.imsglobal.org/xsd/imsqti_v2p1">
{% set LEFT_FORMAT = "L%02d" %}
{% set RIGHT_FORMAT = "R%02d" %}
    <responseDeclaration cardinality="multiple" baseType="directedPair" identifier="RESPONSE">
        <correctResponse>
            {% for i in range( choice_count ) %}
                <value>{{ i | format(LEFT_FORMAT) }} {{ i | format(RIGHT_FORMAT) }}</value>
            {% endfor %}
        </correctResponse>
        <mapping lowerBound="0" upperBound="1" defaultValue="0">
            {% for i in range( choice_count ) %}
                <mapEntry mapKey="{{ i | format(LEFT_FORMAT) }} {{ i | format(RIGHT_FORMAT) }}" mappedValue="0.25" />
            {% endfor %}
        </mapping>
    </responseDeclaration>
    <outcomeDeclaration cardinality="single" baseType="identifier" identifier="FEEDBACK" view="" normalMaximum="0" normalMinimum="0" masteryValue="0" />
    <itemBody>
        <div class="htmlContent">
            <![CDATA[ {{ question_html }} ]]>
        </div>
        <matchInteraction responseIdentifier="RESPONSE" shuffle="true" maxAssociations="{{ choice_count }}" minAssociations="0">
            <simpleMatchSet>
                {% for i, choice_html in left_choices %}
                <simpleAssociableChoice fixed="false" showHide="show" identifier="{{ i | format(LEFT_FORMAT) }}"
                                        matchMax="1" matchMin="0">
                    <div class="htmlContent">
                        <![CDATA[{{ choice_html }}]]>
                    </div>
                </simpleAssociableChoice>
                {% endfor %}
            </simpleMatchSet>
            <simpleMatchSet>
                {% for i, choice_html in right_choices %}
                <simpleAssociableChoice fixed="false" showHide="show" identifier="{{ i | format(RIGHT_FORMAT) }}"
                                        matchMax="1" matchMin="0">
                    <div class="htmlContent">
                        <![CDATA[{{ choice_html }}]]>
                    </div>
                </simpleAssociableChoice>
                {% endfor %}
            </simpleMatchSet>
        </matchInteraction>
    </itemBody>
    <responseProcessing />
</assessmentItem>
