<resource identifier="{{ resource_identifier }}" type="imsqti_item_xmlv2p1" href="{{ resource_href }}">
    <metadata>
        <lom xmlns="http://ltsc.ieee.org/xsd/LOM">
            <general>
                <title>
                    <string xml:lang="en">{{ title }}</string>
                </title>
            </general>
            <technical>
                <format>text/x-imsqti-item-xml</format>
            </technical>
            <qtiMetadata xmlns="http://www.imsglobal.org/xsd/imsqti_metadata_v2p1">
                <interactionType>{{ interaction_type }}</interactionType>
            </qtiMetadata>
        </lom>
    </metadata>
    <file href="{{ resource_href }}"/>
</resource>
